{% extends 'base.html.twig' %}

{% block title %}CategoryComment{% endblock %}

{% block body %}
    <h1>CategoryComment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_comment.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ category_comment.author }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ category_comment.content }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ category_comment.createdAt ? category_comment.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_comment_index') }}">back to list</a>

    <a href="{{ path('category_comment_edit', {'id': category_comment.id}) }}">edit</a>

    {{ include('category_comment/_delete_form.html.twig') }}
{% endblock %}
