{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <div class="container">
        <div class="text-center">
            <a href="{{ path('main') }}">back to home</a>
        </div>
        <div class="text-center">
            <a href="{{ path('category_index') }}">back to list</a>
        </div>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Articles</th>
                <td>
                    <ul>
                        {% for article in category.articles %}
                            <li>{{ article }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        {{ include('comment/comment.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/comment_post.js') }}"></script>
{% endblock %}
