{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="container">
        <div class="text-center">
            <a href="{{ path('main') }}">back to home</a>
        </div>
        <div class="text-center">
            <a href="{{ path('article_index') }}">back to list</a>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Category</th>
                <td>{{ article.category }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ article.file }}</td>
            </tr>
            </tbody>
        </table>

        {{ include('comment/comment.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/comment_post.js') }}"></script>
{% endblock %}
